{
  "openapi": "3.0.1",
  "info": {
    "title": "Consolidated Support CRM  API",
    "description": "Consolidated Support CRM  API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://crmapi-customerengagement.platform.education.gov.uk/crmapi"
    }
  ],
  "paths": {
    "/api/data/v9.1/accounts": {
      "get": {
        "summary": "GetAccountData",
        "description": "Get Account Data",
        "operationId": "GetAccountData",
        "requestBody": {
          "content": {
            "text/plain": { }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": { },
              "text/plain": { }
            }
          }
        }
      }
    },
    "/api/data/v9.1/contacts": {
      "get": {
        "summary": "GetContactData",
        "description": "Get Contact Data",
        "operationId": "GetContactData",
        "requestBody": {
          "content": {
            "text/plain": { }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": { },
              "text/plain": { }
            }
          }
        }
      }
    },
    "/api/data/v9.1/incidents": {
      "post": {
        "summary": "CreateIncidentData",
        "operationId": "createincidentdata",
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": [ ]
    },
    {
      "apiKeyQuery": [ ]
    }
  ],
  "x-ms-export-notes": [
    "The exported API contains schemas that aren't of content type 'application/vnd.oai.openapi.components+json', and are hence not exported as OpenAPI components."
  ]
}